<div class='sidebar'>
  <a href='#' class='add-shelf'>Add bookshelf</a>

  <%= form_for BookShelf.new, url: shelves_path, remote: true do |f| %>
    <%= f.text_field :name %>
  <% end %>

  <ul class='shelves'>
    <% @shelves.each do |shelf| %>
      <%= render partial: 'shelf_row', locals: { shelf: shelf } %>
    <% end %>
  </ul>
</div>
