<div class='sidebar'>
  <%= link_to 'Add bookshelf', new_shelf_path %>

  <ul class='shelves'>
    <% @shelves.each do |shelf| %>
      <li class='shelf'><%= link_to shelf.name, shelf_path(shelf) %></li>
    <% end %>
  </ul>
</div>
