<div class='sidebar'>
  <%= link_to 'Add bookshelf', new_shelf_path %>

  <ul class='shelves'>
    <% @shelves.each do |shelf| %>
      <%= render partial: 'shelf_row', locals: { shelf: shelf } %>
    <% end %>
  </ul>
</div>
